
name: "Example workflow for Maven using Snyk "
# Run workflow each time code is pushed to your repository.
on: push
jobs:
 security:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@master
     - name: Run Snyk Test
       uses: snyk/actions/maven@master
       continue-on-error: true       
       env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}    
